<!DOCTYPE html>
<html>
    <head>
    </head>    
    <body>     
        <p class="validateTips"></p>
        <form>
            <fieldset>
                <input type="hidden" id="txtId">
                <label for="name">Asociación:</label>
                <input type="text" id="txtNombre" class="text ui-widget-content ui-corner-all">
                <label for="email">Contacto:</label>
                <input type="text" id="txtContacto" class="text ui-widget-content ui-corner-all">
                <label for="email">Domicilio:</label>
                <input type="text" id="txtDomicilio" class="text ui-widget-content ui-corner-all">
                <label for="email">Teléfono:</label>
                <input type="text" id="txtTelefono" class="text ui-widget-content ui-corner-all">
                <label for="email">Correo Electrónico:</label>
                <input type="text" id="txtCorreoElectronico" class="text ui-widget-content ui-corner-all">                    
                <!-- Allow form submission with keyboard without duplicating the dialog button 
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">-->
            </fieldset>       
        </form>
    </body>
</html>