<!DOCTYPE html>
<html>
    <head>
    </head>    
    <body>     
        <p class="validateTips"></p>
        <form>
            <fieldset>
                <input type="hidden" id="txtId">
                <label for="FkAsociacion">Asociación:</label><br>
                <select id="cmbAsociacion" class="selectBox ui-widget-content ui-corner-all"/>
                <label for="Aviso">Aviso:</label>
                <textarea rows="6" id="txtAviso" class="text ui-widget-content ui-corner-all"></textarea>
                <label for="Autor">Autor:</label>
                <input type="text" id="txtAutor" class="text ui-widget-content ui-corner-all">
                <label for="FechaVigencia">Fecha Vigencia:</label>
                <input type="text" id="txtFechaVigencia" class="text ui-widget-content ui-corner-all">
            </fieldset>       
        </form>
    </body>
</html>