<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>    
    <body>     
        <p class="validateTips"></p>
        <form>
            <fieldset>
                <label for="Usuario">Usuario:</label>
                <input type="text" id="txtUsuario" class="text ui-widget-content ui-corner-all">
                <label for="Contrasena">Contraseña:</label>
                <input type="password" id="txtContrasena" class="text ui-widget-content ui-corner-all">
                <a id="lnkRecuperarContrasena" onclick="alert('Lo sentimos, por el momento esta opción no está implementada.')">Recuperar Contraseña</a>
            </fieldset>       
        </form>
    </body>
</html>