<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Integrantes y Proyectos</title>                                
        
        <link rel="stylesheet" type="text/css" href="../../vendor/jqGrid/css/ui.jqgrid.css">
        <script type="text/javascript" src="../../vendor/jqGrid/js/jquery-1.11.0.min.js"></script>        
        <script type="text/javascript" src="../../vendor/jqGrid/js/i18n/grid.locale-es.js"></script>
        <script type="text/javascript" src="../../vendor/jqGrid/js/jquery.jqGrid.min.js"></script>
        
        <link rel="stylesheet" href="../../vendor/jquery-ui/jquery-ui.css">
        <script src="../../vendor/jquery-ui/jquery-ui.js"></script>
        
        <script type="text/javascript" src="../js/global.js"></script>
        <script type="text/javascript" src="../js/integrantesproyectos.js"></script>
        
        <link rel="stylesheet" href="../css/asociaciones.css">
    </head>
    <body>
        <header>
        </header>
        <div id="divAcordion">
            <h3>Seleccione Asociación</h3>
            <div class="divSeccionAcordion">
                <table id="tablaAsociaciones"></table>
                <div id="piePaginaTablaAsociaciones"></div>
            </div>
            <h3>Seleccione Proyecto</h3>
            <div class="divSeccionAcordion">
                <table id="tablaProyectos"></table>
                <div id="piePaginaTablaProyectos"></div>
            </div>
            <h3>Seleccione Integrante</h3>
            <div class="divSeccionAcordion">
                <table id="tablaIntegrantes"></table>
                <div id="piePaginaTablaIntegrantes"></div>
            </div>
            <h3>Integrante - Proyecto</h3>
            <div class="divSeccionAcordion">
                <table id="tablaIntegrantesProyectos"></table>
                <div id="piePaginaTablaIntegrantesProyectos"></div>
            </div>
        </div>
        <div id="divMensaje">
            <p class="txtMensaje"></p>
        </div>
    </body>
</html>