<!DOCTYPE html>
<html>
    <head>
    </head>    
    <body>     
        <p class="validateTips"></p>
        <form>
            <fieldset>
                <input type="hidden" id="txtId">
                <label for="Nombre">Nombre:</label>
                <input type="text" id="txtNombre" class="text ui-widget-content ui-corner-all">
                <label for="Descripcion">Descripción:</label>
                <textarea rows="6" id="txtDescripcion" class="text ui-widget-content ui-corner-all"></textarea>
                <label for="Contacto">Contacto:</label>
                <input type="text" id="txtContacto" class="text ui-widget-content ui-corner-all">
                <label for="Telefono">Teléfono:</label>
                <input type="text" id="txtTelefono" class="text ui-widget-content ui-corner-all">
                <label for="CorreoElectronico">Correo Electrónico:</label>
                <input type="text" id="txtCorreoElectronico" class="text ui-widget-content ui-corner-all">
                <label for="FechaInicio">Fecha Inicio:</label>
                <input type="text" id="txtFechaInicio" class="text ui-widget-content ui-corner-all">
                <label for="FechaFin">Fecha Fin:</label>
                <input type="text" id="txtFechaFin" class="text ui-widget-content ui-corner-all">
                <label for="FkAsociacion">Asociación:</label><br>
                <select id="cmbAsociacion" class="selectBox ui-widget-content ui-corner-all"/>
                <!-- Allow form submission with keyboard without duplicating the dialog button 
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">-->
            </fieldset>       
        </form>
    </body>
</html>