<!DOCTYPE html>
<html>
    <head>
    </head>    
    <body>     
        <p class="validateTips"></p>
        <form>
            <fieldset>
                <input type="hidden" id="txtId">
                <label for="Usuario">Usuario:</label>
                <input type="text" id="txtUsuario" class="text ui-widget-content ui-corner-all">
                <label for="Contrasena">Contraseña:</label>
                <input type="password" id="txtContrasena" class="text ui-widget-content ui-corner-all">                
                <input type="checkbox" id="chkRootAsociacion" class="checkbox ui-widget-content ui-corner-all"
                       value="RootAsociacion">
                <label for="RootAsociacion">Administrador Asociación</label>
            </fieldset>       
        </form>
    </body>
</html>